In [2]:
import pandas as pd

In [3]:
import csv
notes = pd.read_csv('NOTEEVENTS-2.csv')

In [4]:
#import dask.dataframe as dd
#notes_d = dd.read_csv('NOTEEVENTS.csv')

In [5]:
notes.columns

Index(['row_id', 'subject_id', 'hadm_id', 'chartdate', 'category',
       'description', 'cgid', 'iserror', 'text'],
      dtype='object')

In [6]:
notes.describe()

             row_id    subject_id       hadm_id          cgid  iserror
count  2.083180e+06  2.083180e+06  1.851344e+06  1.246404e+06    886.0
mean   1.041590e+06  3.242564e+04  1.498796e+05  1.771630e+04      1.0
std    6.013624e+05  2.755425e+04  2.878059e+04  2.158703e+03      0.0
min    1.000000e+00  2.000000e+00  1.000010e+05  1.401000e+04      1.0
25%    5.207958e+05  1.146500e+04  1.251950e+05  1.580300e+04      1.0
50%    1.041590e+06  2.344400e+04  1.496010e+05  1.759300e+04      1.0
75%    1.562385e+06  5.077200e+04  1.748120e+05  1.959900e+04      1.0
max    2.083180e+06  9.999900e+04  1.999990e+05  2.157000e+04      1.0

In [7]:
notes.head()

,row_id,subject_id,hadm_id,chartdate,category,description,cgid,iserror,text
0,776,20007,188442.0,2183-10-29 00:00:00,Discharge summary,Report,NaN,NaN,Admission Date: [**2183-9-25**] Dischar...
1,777,20007,193793.0,2184-01-20 00:00:00,Discharge summary,Report,NaN,NaN,Admission Date: [**2184-1-16**] Dischar...
2,778,59883,118446.0,2103-04-18 00:00:00,Discharge summary,Report,NaN,NaN,Admission Date: [**2103-4-11**] ...
3,779,17043,157985.0,2103-10-11 00:00:00,Discharge summary,Report,NaN,NaN,Admission Date: [**2103-10-7**] Dischar...
4,785,7019,189488.0,2131-04-06 00:00:00,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-4-2**] D...

In [8]:
notes.category.unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

In [9]:
notes.cgid.unique()

array([   nan, 15526., 16934., ..., 14163., 18513., 19534.])

In [10]:
notes.hadm_id.unique()

array([188442., 193793., 118446., ..., 115098., 175166., 185458.])

In [11]:
len(notes.hadm_id.unique())

58362

In [12]:
notes.description.nunique()

3848

In [13]:
notes.iloc[1,:]

row_id                                                       777
subject_id                                                 20007
hadm_id                                                   193793
chartdate                                    2184-01-20 00:00:00
category                                       Discharge summary
description                                               Report
cgid                                                         NaN
iserror                                                      NaN
text           Admission Date:  [**2184-1-16**]       Dischar...
Name: 1, dtype: object

In [14]:
notes[notes['category']=='Radiology']['text'].head(1).array

<PandasArray>
['[**Last Name (LF) **],[**First Name3 (LF) **]                       EU                         [**2166-10-9**]  8:24 PM  CTA HEAD W&W/O C & RECONS; CTA NECK W&W/OC & RECONS             Clip # [**Clip Number (Radiology) 38938**]  CT BRAIN PERFUSION; -59 DISTINCT PROCEDURAL SERVICE  Reason: eval for ICH/CVA   Contrast: OPTIRAY Amt: 110  ______________________________________________________________________________  [**Hospital 2**] MEDICAL CONDITION:   86 year old woman with new onset dysarthria, last known well at 1530  REASON FOR THIS EXAMINATION:   eval for ICH/CVA  No contraindications for IV contrast  ______________________________________________________________________________                                   PFI REPORT  1.  No evidence of acute infarct, or intracranial hemorrhage in brain.  2.  No evidence of focal flow-limiting stenosis, occlusion, or aneurysm  greater than 3 mm in arteries of anterior and posterior circulation of head.  3.  Calcified plaque at the left distal common carotid artery causing  approximately 25% stenosis. ']
Length: 1, dtype: object

In [15]:
notes.groupby("hadm_id").nunique()

,row_id,subject_id,hadm_id,chartdate,category,description,cgid,iserror,text
hadm_id,,,,,,,,,
100001.0,2,1,1,2,2,2,0,0,2
100003.0,26,1,1,4,6,9,9,0,24
100006.0,22,1,1,10,5,5,2,0,22
100007.0,9,1,1,6,3,1,6,0,9
100009.0,8,1,1,5,4,5,0,0,8
...,...,...,...,...,...,...,...,...,...
199993.0,78,1,1,26,4,2,18,0,78
199994.0,29,1,1,9,4,2,8,0,29
199995.0,27,1,1,13,5,10,3,0,27
199998.0,12,1,1,5,5,6,3,0,12
199999.0,12,1,1,7,3,4,0,0,12

In [16]:
notes[notes['hadm_id']==100003.0]['text'].all()

'Chief Complaint:    HPI:    24 Hour Events:    awaiting bed on liver service, stable    no s/sx bleeding    Allergies:    No Known Drug Allergies    Last dose of Antibiotics:    Ceftriaxone - [**2150-4-18**] 10:02 PM    Vancomycin - [**2150-4-19**] 08:33 AM    Infusions:    Other ICU medications:    Pantoprazole (Protonix) - [**2150-4-18**] 08:21 PM    Other medications:    lactulose    Changes to medical and family history:    Review of systems is unchanged from admission except as noted below    Review of systems:    Flowsheet Data as of  [**2150-4-19**] 09:53 AM    Vital signs    Hemodynamic monitoring    Fluid balance                                                                   24 hours                                                                Since 12 AM    Tmax: 36.7 C (98    Tcurrent: 36.6 C (97.8    HR: 93 (72 - 93) bpm    BP: 139/67(83) {106/43(60) - 149/89(96)} mmHg    RR: 18 (12 - 23) insp/min    SpO2: 86%    Heart rhythm: SR (Sinus Rhythm)              Total In:                                                                   1,187 mL                                                                     298 mL    PO:              TF:    IVF:                                                                     919 mL                                                                     298 mL    Blood products:                                                                     269 mL    Total out:                                                                   2,615 mL                                                                   1,675 mL    Urine:                                                                   2,615 mL                                                                   1,675 mL    NG:    Stool:    Drains:    Balance:                                                                  -1,428 mL                                                                  -1,377 mL    Respiratory support    SpO2: 86%    ABG: ///18/    Physical Examination    General Appearance: Well nourished    Eyes / Conjunctiva: PERRL    Head, Ears, Nose, Throat: Normocephalic    Cardiovascular: (S1: Normal), (S2: Normal)    Peripheral Vascular: (Right radial pulse: Present), (Left radial pulse:    Present), (Right DP pulse: Present), (Left DP pulse: Present)    Respiratory / Chest: (Breath Sounds: Clear : )    Extremities: Right: Trace, Left: Trace    Skin:  Cool    Neurologic: Attentive, Responds to: Not assessed, Movement: Not    assessed, Tone: Not assessed    Labs / Radiology    9.6 g/dL    132 K/uL    135 mg/dL    1.0 mg/dL    18 mEq/L    4.3 mEq/L    27 mg/dL    107 mEq/L    133 mEq/L    28.1 %    12.7 K/uL         [image002.jpg]                              [**2150-4-17**]  06:41 PM                              [**2150-4-17**]  07:12 PM                              [**2150-4-17**]  09:04 PM                              [**2150-4-18**]  03:20 AM                              [**2150-4-18**]  06:25 AM                              [**2150-4-18**]  11:10 AM                              [**2150-4-18**]  06:40 PM                              [**2150-4-19**]  04:32 AM    WBC    13.4    14.2    14.2    12.7    Hct    21.3    23    28.0    31.8    28.9    29.5    28.8    28.1    Plt    148    162    162    132    Cr    1.2    1.1    1.0    TropT    <0.01    <0.01    TCO2    17    Glucose    56    113    135    Other labs: PT / PTT / INR:17.2/33.3/1.6, CK / CKMB /    Troponin-T:218/9/<0.01, ALT / AST:116/236, Alk Phos / T Bili:115/3.1,    Differential-Neuts:60.5 %, Lymph:29.6 %, Mono:6.7 %, Eos:2.8 %,    Fibrinogen:191 mg/dL, Lactic Acid:1.1 mmol/L, Albumin:2.3 g/dL, LDH:386    IU/L, Ca++:8.1 mg/dL, Mg++:1.7 mg/dL, PO4:2.7 mg/dL    Assessment and Plan    59 yo M HCV cirrhosis presents with gradual GI bleed, now stable    1. GIB:     -hct  stable no further bleeding     - NPO p MN tonight for EGD tomorrow     - change PPI to PO     - d/c IJ    2. Cirrhosis:     - restarting lasix/spironolactone    3. ? infection:     - d/c vanc/ctx as cultures are negative    4. FEN:     - house diet    ICU Care    Nutrition:    Glycemic Control:    Lines:    18 Gauge - [**2150-4-17**] 05:56 PM    16 Gauge - [**2150-4-17**] 06:05 PM    Multi Lumen - [**2150-4-17**] 08:00 PM    Prophylaxis:    DVT:    Stress ulcer: PPI    VAP:    Comments:    Communication: Patient discussed on interdisciplinary rounds , ICU    Code status: Full code    Disposition :    Total time spent: 30 minutes '

In [17]:
notes['iserror'].sum() #886 have errors small only

886.0

In [18]:
notes=notes[notes.iserror!=1]

In [19]:
notes.columns

Index(['row_id', 'subject_id', 'hadm_id', 'chartdate', 'category',
       'description', 'cgid', 'iserror', 'text'],
      dtype='object')

In [20]:
len(notes)

2082294

In [21]:
#patients = patients.drop(['ROW_ID','DOD','DOD_HOSP','DOD_SSN','EXPIRE_FLAG'],axis=1)

In [22]:
notes = notes.drop(['cgid','chartdate','iserror','row_id','description'],axis=1)

In [23]:
notes.columns

Index(['subject_id', 'hadm_id', 'category', 'text'], dtype='object')

In [24]:
notes.head()

,subject_id,hadm_id,category,text
0,20007,188442.0,Discharge summary,Admission Date: [**2183-9-25**] Dischar...
1,20007,193793.0,Discharge summary,Admission Date: [**2184-1-16**] Dischar...
2,59883,118446.0,Discharge summary,Admission Date: [**2103-4-11**] ...
3,17043,157985.0,Discharge summary,Admission Date: [**2103-10-7**] Dischar...
4,7019,189488.0,Discharge summary,Admission Date: [**2131-4-2**] D...

In [25]:
notes_rad = notes[notes['category']=='Radiology']

In [26]:
len(notes_rad)

522279

In [27]:
notes_rad.columns

Index(['subject_id', 'hadm_id', 'category', 'text'], dtype='object')

In [28]:
notes_rad = notes_rad.drop(['category'],axis=1)

In [29]:
notes_rad.columns

Index(['subject_id', 'hadm_id', 'text'], dtype='object')

In [30]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/akshara/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
#from nltk.tokenize.toktok import ToktokTokenizer
stopword_list = nltk.corpus.stopwords.words('english')
#tokenizer = ToktokTokenizer()

In [32]:
notes_rad['text']

656937     [**Last Name (LF) **],[**First Name3 (LF) **] ...
722336     [**2141-4-12**] 12:34 PM  [**Last Name (un) 26...
722337     [**2196-3-30**] 12:45 PM  CT ABD W&W/O C; CT P...
722399     [**2167-5-12**] 6:33 PM  LOWER EXTREMITY FLUOR...
722591     [**2164-12-6**] 8:26 PM  CHEST (PORTABLE AP)  ...
                                 ...
1300424    [**2117-12-30**] 2:41 AM  CHEST (PA & LAT)    ...
1300426    [**2145-1-25**] 5:51 PM  CHEST (PA & LAT); -76...
1300427    [**2193-1-21**] 6:04 PM  CT ABD & PELVIS W/O C...
1300428    [**2199-1-21**] 6:38 PM  CT CHEST W/CONTRAST; ...
1300429    [**2121-1-13**] 11:36 PM  CTA CHEST W&W/O C&RE...
Name: text, Length: 522279, dtype: object

In [33]:
notes_rad_txt = [notes_rad['text']]

In [34]:
notes_rad['text'][:2]

656937    [**Last Name (LF) **],[**First Name3 (LF) **] ...
722336    [**2141-4-12**] 12:34 PM  [**Last Name (un) 26...
Name: text, dtype: object

In [35]:
notes_rad.columns

Index(['subject_id', 'hadm_id', 'text'], dtype='object')

In [36]:
notes_rad[:2]

,subject_id,hadm_id,text
656937,93207,104110.0,"[**Last Name (LF) **],[**First Name3 (LF) **] ..."
722336,9070,NaN,[**2141-4-12**] 12:34 PM [**Last Name (un) 26...

In [37]:
notes_rad_txt

[656937     [**Last Name (LF) **],[**First Name3 (LF) **] ...
 722336     [**2141-4-12**] 12:34 PM  [**Last Name (un) 26...
 722337     [**2196-3-30**] 12:45 PM  CT ABD W&W/O C; CT P...
 722399     [**2167-5-12**] 6:33 PM  LOWER EXTREMITY FLUOR...
 722591     [**2164-12-6**] 8:26 PM  CHEST (PORTABLE AP)  ...
                                  ...
 1300424    [**2117-12-30**] 2:41 AM  CHEST (PA & LAT)    ...
 1300426    [**2145-1-25**] 5:51 PM  CHEST (PA & LAT); -76...
 1300427    [**2193-1-21**] 6:04 PM  CT ABD & PELVIS W/O C...
 1300428    [**2199-1-21**] 6:38 PM  CT CHEST W/CONTRAST; ...
 1300429    [**2121-1-13**] 11:36 PM  CTA CHEST W&W/O C&RE...
 Name: text, Length: 522279, dtype: object]

In [38]:
def preprocess_text(df):
    df.text = df.text.fillna(' ')
    df.text = df.text.str.replace('\n',' ')
    df.text = df.text.str.replace('\r',' ')
    return df
notes_rad_txt = preprocess_text(notes_rad)

In [39]:
print(notes_rad_txt[:10])

        subject_id   hadm_id  \
656937       93207  104110.0
722336        9070       NaN
722337       19929  101969.0
722399       13962  144625.0
722591        6451  183196.0
722710       14566  171329.0
726011         256       NaN
727659        9310  181380.0
727823       23781  195460.0
727929       24552       NaN

                                                     text
656937  [**Last Name (LF) **],[**First Name3 (LF) **] ...
722336  [**2141-4-12**] 12:34 PM  [**Last Name (un) 26...
722337  [**2196-3-30**] 12:45 PM  CT ABD W&W/O C; CT P...
722399  [**2167-5-12**] 6:33 PM  LOWER EXTREMITY FLUOR...
722591  [**2164-12-6**] 8:26 PM  CHEST (PORTABLE AP)  ...
722710  [**2177-12-11**] 8:27 PM  LOWER EXTREMITY FLUO...
726011  [**2163-12-6**] 12:07 PM  CHEST (PA & LAT)    ...
727659  [**2178-11-29**] 3:07 PM  HUMERUS (AP & LAT) L...
727823  [**2165-9-28**] 2:50 AM  CHEST (PORTABLE AP)  ...
727929  [**2153-1-12**] 10:03 PM  CHEST (PORTABLE AP) ...

In [40]:
import nltk
from nltk import word_tokenize

In [44]:
notes_rad_txt.columns

Index(['subject_id', 'hadm_id', 'text'], dtype='object')

## tokenize and lemmatize

In [67]:
import re
def remstopwords(text):
    text = re.sub('\[\*\*[^\]]*\*\*\]', '', text)
    text = re.sub('<[^>]*>', '', text)
    text = re.sub('[\W]+', ' ', text.lower()) 
    text = re.sub(" \d+", " ", text)
    return " ".join([i for i in text.split() if i not in stopword_list])
notes_rad_txt['text']=notes_rad_txt['text'].apply(str)        
#notes_rad_txt_clean = [remstopwords(x) for x in notes_rad_txt.text]

In [76]:
notes_rad_txt["text"] = notes_rad_txt["text"].apply(lambda x: remstopwords(x))

In [79]:
#notes_rad_txt["text"].head()
notes_rad_txt.text[:20]

656937    last name lf first name lf eu pm cta head w w ...
722336    pm last name un dup extext bil map dvt clip cl...
722337    pm ct abd w w c ct pelvis w contrast clip clip...
722399    pm lower extremity fluoro without radiologist ...
722591    pm chest portable ap clip clip number radiolog...
722710    pm lower extremity fluoro without radiologist ...
726011    pm chest pa lat clip clip number radiology rea...
727659    pm humerus ap lat left port clip clip number r...
727823    chest portable ap clip clip number radiology r...
727929    pm chest portable ap clip clip number radiolog...
727930    ct abdomen w contrast ct pelvis w contrast cli...
727931    ct head w contrast clip clip number radiology ...
728950    pm chest portable ap clip clip number radiolog...
729391    chest portable ap clip clip number radiology r...
729763    pm chest portable ap clip clip number radiolog...
729897    pm chest portable ap clip clip number radiolog...
729911    chest pa lat clip clip number radiology reason...
730087    chest portable ap clip clip number radiology r...
730188    chest portable ap clip clip number radiology r...
730292    mr head w contrast clip clip number radiology ...
Name: text, dtype: object

In [68]:
#print(notes_rad_txt_clean)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [75]:
#len(notes_rad_txt_clean)

522279

In [70]:
#print(notes_rad_txt_clean[:20])

['last name lf first name lf eu pm cta head w w c recons cta neck w w oc recons clip clip number radiology ct brain perfusion distinct procedural service reason eval ich cva contrast optiray amt hospital medical condition year old woman new onset dysarthria last known well reason examination eval ich cva contraindications iv contrast pfi report evidence acute infarct intracranial hemorrhage brain evidence focal flow limiting stenosis occlusion aneurysm greater mm arteries anterior posterior circulation head calcified plaque left distal common carotid artery causing approximately stenosis', 'pm last name un dup extext bil map dvt clip clip number radiology reason bilateral edema final report history bilateral leg edema findings duplex color doppler show lower extremity dvt bilaterally', 'pm ct abd w w c ct pelvis w contrast clip clip number radiology lab reconstructions reason p whipple biliary obstruction contrast optiray amt hospital medical condition year old man p whipple adeno ca papilla rtn w biliary obstruction biliary anastomosis p ptc please perform ct guided biopsy r malignancy reason examination ct guided biopsy final report history history adenocarcinoma papilla status post whipple biliary obstruction anastomosis technique helically acquired axial images obtained abdomen prior iv contrast following axial images obtained abdomen pelvis iv contrast multiplanar reformatted images created contrast cc optiray given due fast bolus rate injection ct abdomen w contrast small bilateral pleural effusions bibasilar atelectasis biliary pigtail catheter known lastname evidence intrahepatic ductal dilatation focal liver lesions seen remaining portion pancreas atrophic dilated pancreatic duct increase number lymph nodes paraesophageal celiac periportal regions one periportal lymph node abuts hepatic artery becomes intrahepatic tumor described mri correlates hepaticojejunal anastomosis portal vein patent trace amount ascites adjacent inferior edge liver high attenuation stranding also adjacent hepatic flexure colon may small amount hematoma recent ptc simply colonic bowel peritoneal deposits cannot excluded spleen adrenals normal kidneys enhance excrete symmetrically evidence masses hydronephrosis either kidney small subcentimeter retroperitoneal lymph nodes seen para aortic aortocaval location ct pelvis contrast small large bowel loops normal caliber without evidence suggest obstruction pm ct abd w w c ct pelvis w contrast clip clip number radiology lab reconstructions reason p whipple biliary obstruction contrast optiray amt final report cont suspicious osseous lesions seen impression findings consistent local recurrence increase number celiac periportal paraesophageal retroperitoneal lymph nodes tumor seen mri correlates hepaticojejunal anastomosis small periportal lymph nodes seen adjacent hepatic artery therefore felt safe biopsy high attenuation material stranding inferior edge liver may represent small amount hematoma recent ptc simply volume averaging adjacent bowel peritoneal deposits cannot excluded', 'pm lower extremity fluoro without radiologist r left clip clip number radiology reason attempted femoral nailing final report lower extremity fluoroscopy without radiologist performed aborted attempt femoral nailing performed minutes seconds fluoro time used images saved', 'pm chest portable ap clip clip number radiology reason p line placement final report revised indication status post line placement evaluate pneumothorax technique ap portable chest x ray findings right internal jugular central venous line tip located mid svc evidence pneumothorax radiograph otherwise unchanged compared prior study', 'pm lower extremity fluoro without radiologist left clip clip number radiology reason revisionleft leg doctor last name graft severe pain final report lower extremity fluoro performed without radiologist present minutes fluoro time used films submitted', 'pm chest pa lat clip clip number radiology reason f u lt base crackles final report chest two views pa lateral history crackles left lung base heart size normal evidence chf flattening diaphragms secondary copd pulmonary consolidation pleural effusion previously described small pleural subpleural density left lung base identified today exam impression copd evidence chf pneumonia', 'pm humerus ap lat left port clip clip number radiology reason p trauma hospital medical condition year old woman avr p mva p splenectomy reason examination p trauma final report left humerus history mva trauma pain single ap film demonstrates comminuted fracture greater tuberosity left humerus glenohumeral joint unremarkable single view', 'chest portable ap clip clip number radiology reason fever hospital medical condition year old man cva r pneumoniae reason examination fever final report portable chest indication cva fever heart normal size ng tube present terminating ge junction lungs clear fully expanded impression evidence pneumonia', 'pm chest portable ap clip clip number radiology reason p l scv cvl check line r ptx hospital medical condition year old woman gangrene rt foot p rt fem tib reason examination p l scv cvl check line r ptx final report clinical indication central venous catheter placement comparison made previous study one day earlier interval placement left subclavian central venous catheter terminates junction left brachiocephalic vein superior vena cava pneumothorax identified cardiac silhouette remains enlarged bilateral pleural effusions adjacent areas increased lung opacification well lower lobes note made previous mediansternotomy coronary bypass surgery impression central venous catheter terminates confluence left brachiocephalic vein superior vena cava pneumothorax persistent bilateral pleural effusions adjacent lung opacities likely reflect atelectasis although infectious process excluded proper clinical setting', 'ct abdomen w contrast ct pelvis w contrast clip clip number radiology ct coronal sagital obl reconstruction ct cc nonionic contrast reason evaluate diverticulitis contrast optiray amt hospital medical condition year old woman h diverticuli p recent admit diverticulitis lower gi bleed ct showed thickening stranding paracolic fluid left descending prox sigmoid colon worrisome diverticulitis vs ischemic bowel vs hemorrhage bowel wall presents recurrent llq pain diarrhea please evaluate diverticulitis perforation reason examination evaluate diverticulitis final report history diverticulitis technique helically acquired ct images lung bases pubic symphysis contrast ct abdomen contrast comparison made prior ct scan dated demonstrated lung bases mm calcified granuloma left base otherwise lungs clear pleural effusions liver spleen pancreas adrenals kidneys unremarkable seen large cm gallbladder stone gallbladder otherwise appears unremarkable bowel upper abdomen appear unremarkable free fluid seen ct pelvis contrast marked interval improvement thickened sigmoid colon seen prior study numerous diverticula minimal stranding sigmoid colon likely due clearing residual disease free fluid seen kidneys demonstrate bilateral symmetrical contrast excretion ureters seen course bladder filling defects bladder appears unremarkable free fluid present focal fluid collections identified bone windows bone demonstrate suspicious lytic blastic lesions impression interval improvement patient sigmoid disease mild stranding sigmoid colon likely related residua prior disease cannot rule early diverticulitis', 'ct head w contrast clip clip number radiology reason r cerebral edema central pontine myelinolysis mass hospital medical condition year old man p liver transplant w persistent decreased mental status reason examination r cerebral edema central pontine myelinolysis mass final report history year old man status post liver transplant persistent decreased mental status rule cerebral edema central pontine myelinolysis technique contiguous axial images head obtained without iv contrast skull base vertex ct head w contrast sulci ventricles appropriate patient age intra extraaxial fluid collections masses shift midline structures observed doctor last name white matter differentiation unremarkable impression evidence cerebral edema', 'pm chest portable ap clip clip number radiology reason p cvl change hospital medical condition year old woman r ptx p pulmonary thrombectomy p swan eval swan position reason examination p cvl change final report portable chest history pulmonary thrombectomy line change appreciable change appearance chest since prior chest x ray', 'chest portable ap clip clip number radiology reason please eval followup pt aspirated chewing throu hospital medical condition year old man p mvr tvr pericardectomy p ogt reposition ett aspiration reason examination please eval followup pt aspirated chewing et tube final report history aspiration appearance chest changed since prior chest x ray', 'pm chest portable ap clip clip number radiology reason p chest tube removal hospital medical condition year old man reason examination p chest tube removal final report history p chest tube removal evaluate pneumothorax chest bilateral pneumothoraces present larger hours previously lung apices lie level th posterior rib impression size pneumothoraces increasing', 'pm chest portable ap clip clip number radiology reason yo sob final report pa lateral chest radiograph indication shortness breath comparison heart enlarged mediastinal hilar contours normal pulmonary vascularity normal two focal mm densities overlie left mid lung zone likely representing calcified granulomas unchanged mentioned multiple prior reports several old right rib fractures noted impression acute cardiopulmonary process significant change', 'chest pa lat clip clip number radiology reason pre op vascular surgery hospital medical condition year old man iddm cad severe pvd reason examination pre op vascular surgery final report chest comparison prior study indication diabetes mellitus preop vascular surgery findings normal heart mediastinum lungs clear infiltrate effusion', 'chest portable ap clip clip number radiology reason p cabg w increased back pain r hemothorax hospital medical condition year old man p cabg reason examination p cabg w increased back pain r hemothorax final report history cabg back pain status post cabg cardiomegaly slight upper zone redistribution bilateral pleural effusions subsegmental atelectases present upper lobes pneumothorax', 'chest portable ap clip clip number radiology reason p cabg p chest tube removal hospital medical condition year old man reason examination p cabg p chest tube removal final report indication chest tube removal heart enlarged low lung volumes right ij sheath present terminating superior vena cava pneumothorax post cabg changes evident impression satisfactory postoperative appearance', 'mr head w contrast clip clip number radiology reason viewscope contrast magnevist amt final report history year old female metastatic lung cancer technique axial mp rage images obtained administration cc intravenous gadolinium per viewscope protocol comparison brain mri contrast wand study utilizing axial mp rage sequences purposes stereotactic surgery performed demonstrated multiple enhancing lesions left cerebral hemisphere cerebellum associated surrounding edema']

In [82]:
from nltk.stem import WordNetLemmatizer,PorterStemmer
lemmatizer = WordNetLemmatizer() 
stem = PorterStemmer()
import string
import nltk
nltk.download('punkt')
import string

#i have a basic question,so what happens after u get tokens
# after that, lemmatize, then feed to model is wjat i thought.
#no even more basic,model gives mapping right basically cosine distances
#so now that the model returns that how we gonna use it on the data??????
# sorry, i switched tabs, presence of certain words is indicative of some specific disease rt?
# we can judge the closeness of these words.. i'm not sure if that is what u r asking
#how so? how can we judge didnt get it?how u gonna find those specific words

[nltk_data] Downloading package punkt to /home/akshara/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [91]:
def lemmatize_text(text):
    return [lemmatizer.lemmatize(x) for x in text]

In [74]:
#notes_rad_txt_clean

AttributeError: 'list' object has no attribute 'columns'

In [85]:
notes_rad_txt["text"] = notes_rad_txt["text"].apply(lambda x: word_tokenize(x))

In [86]:
notes_rad_txt.text[:20]

656937    [last, name, lf, first, name, lf, eu, pm, cta,...
722336    [pm, last, name, un, dup, extext, bil, map, dv...
722337    [pm, ct, abd, w, w, c, ct, pelvis, w, contrast...
722399    [pm, lower, extremity, fluoro, without, radiol...
722591    [pm, chest, portable, ap, clip, clip, number, ...
722710    [pm, lower, extremity, fluoro, without, radiol...
726011    [pm, chest, pa, lat, clip, clip, number, radio...
727659    [pm, humerus, ap, lat, left, port, clip, clip,...
727823    [chest, portable, ap, clip, clip, number, radi...
727929    [pm, chest, portable, ap, clip, clip, number, ...
727930    [ct, abdomen, w, contrast, ct, pelvis, w, cont...
727931    [ct, head, w, contrast, clip, clip, number, ra...
728950    [pm, chest, portable, ap, clip, clip, number, ...
729391    [chest, portable, ap, clip, clip, number, radi...
729763    [pm, chest, portable, ap, clip, clip, number, ...
729897    [pm, chest, portable, ap, clip, clip, number, ...
729911    [chest, pa, lat, clip, clip, number, radiology...
730087    [chest, portable, ap, clip, clip, number, radi...
730188    [chest, portable, ap, clip, clip, number, radi...
730292    [mr, head, w, contrast, clip, clip, number, ra...
Name: text, dtype: object

In [92]:
notes_rad_txt["text"] = notes_rad_txt["text"].apply(lambda x: lemmatize_text(x))
# after this cant we do the padding thing? convert to numbers then pad with 0

In [94]:
notes_rad_txt.head()

,subject_id,hadm_id,text
656937,93207,104110.0,"[last, name, lf, first, name, lf, eu, pm, cta,..."
722336,9070,NaN,"[pm, last, name, un, dup, extext, bil, map, dv..."
722337,19929,101969.0,"[pm, ct, abd, w, w, c, ct, pelvis, w, contrast..."
722399,13962,144625.0,"[pm, lower, extremity, fluoro, without, radiol..."
722591,6451,183196.0,"[pm, chest, portable, ap, clip, clip, number, ..."

In [95]:
notes_rad_txt.hadm_id.isna().sum()

143359

In [105]:
notes_rad_txt.columns

Index(['subject_id', 'hadm_id', 'text'], dtype='object')

In [100]:
# dropped rows with Nan HADM_ID
notes_rad_txt = notes_rad_txt.dropna(subset = ['hadm_id'], axis=0)

In [103]:
notes_rad_txt.groupby("hadm_id").nunique().max()

subject_id      1
hadm_id         1
text          186
dtype: int64

In [108]:
aggregation_functions = {'text': 'sum'}
combined_notes_rad = notes_rad_txt.groupby(notes_rad_txt['hadm_id']).aggregate(aggregation_functions)

In [109]:
notes_rad_txt.shape

(378920, 3)

In [115]:
# combined_notes_rad-after combining texts according to hadm_id
combined_notes_rad.shape

(45526, 1)

In [118]:
combined_notes_rad.head()

                                                       text
hadm_id
100001.0  [chest, pa, lat, clip, clip, number, radiology...
100003.0  [pm, liver, gallbladder, u, single, organ, cli...
100006.0  [chest, portable, ap, clip, clip, number, radi...
100009.0  [pm, chest, pa, lat, clip, clip, number, radio...
100010.0  [pm, chest, portable, ap, different, physician...

In [125]:
df = pd.read_pickle("./dataset_with_hadm.pkl")

In [127]:
df = df.drop("SUBJECT_ID", axis = 1)

In [128]:
df.shape

(58976, 504)

In [131]:
combined_dataset = pd.merge(combined_notes_rad, df, how = 'left', left_index = True, right_on = "HADM_ID")

In [133]:
combined_dataset.shape

(45526, 505)

In [135]:
combined_dataset.columns

Index([          'text',        'HADM_ID', 'ADMISSION_DAYS',         'GENDER',
                  'AGE',            50801,            50802,            50803,
                  50804,            50805,
       ...
                  'G11',            'G12',            'G13',            'G14',
                  'G15',            'G16',            'G17',            'G18',
                  'G19',            'G20'],
      dtype='object', length=505)

#wait first lets get this into a pkl file

In [137]:
combined_dataset.to_pickle('./combined_dataset_notes.pkl')

In [136]:
combined_dataset

,text,HADM_ID,ADMISSION_DAYS,GENDER,AGE,50801,50802,50803,50804,50805,...,G11,G12,G13,G14,G15,G16,G17,G18,G19,G20
47366,"[chest, pa, lat, clip, clip, number, radiology...",100001,7,0,35,462.0,0.0,24.0,26.0,1.0,...,0,1,0,0,0,0,0,0,0,1
47024,"[pm, liver, gallbladder, u, single, organ, cli...",100003,5,1,60,462.0,-6.0,24.0,17.0,1.0,...,0,1,0,0,0,1,0,0,0,0
9046,"[chest, portable, ap, clip, clip, number, radi...",100006,13,0,49,462.0,0.0,24.0,26.0,1.0,...,0,0,0,0,0,1,0,0,0,1
843,"[pm, chest, pa, lat, clip, clip, number, radio...",100009,5,1,61,462.0,2.0,24.0,28.0,1.0,...,0,0,0,0,0,0,0,1,0,1
43466,"[pm, chest, portable, ap, different, physician...",100010,5,0,54,462.0,0.0,23.0,25.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24035,"[chest, portable, ap, clip, clip, number, radi...",199993,25,1,60,653.0,1.0,26.0,28.0,1.3,...,0,0,0,0,0,0,0,0,0,0
30073,"[pm, chest, portable, ap, clip, clip, number, ...",199994,10,0,58,343.0,-3.0,24.0,28.0,1.0,...,0,0,0,0,0,0,0,0,0,0
25219,"[pm, abdomen, u, complete, study, duplex, dopp...",199995,17,1,23,240.0,4.0,24.0,29.0,1.0,...,0,0,0,1,0,0,0,0,0,1
33394,"[pm, chest, port, line, placement, clip, clip,...",199998,6,1,70,462.0,2.0,24.0,26.0,1.0,...,0,0,0,0,0,1,0,1,1,1
38164,"[chest, portable, ap, clip, clip, number, radi...",199999,6,1,89,588.0,1.0,24.0,25.0,1.0,...,0,0,0,0,0,1,1,0,0,1

In [ ]:
import gensim
model = gensim.models.Word2Vec(
        documents,
        size=150,
        window=10,
        min_count=2,
        workers=10,
        iter=10)